<div class="container">
    <h3 class="bg-dark text-white p-4 text-center"><%= title %></h3>

    <h1><%= article.title %></h1>


    <h5>Written By: <%= article.author %></h5>
    
    <p><%= article.body %></p>
    
    <hr>
    <a href="/article/edit/<%= article._id %>" class="btn btn-secondary btn-sm">EDIT</a>
    <a href="#" class="btn btn-danger btn-sm delete-article" data-id="<%= article._id %>">DELETE</a>
</div>